@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../fonts/Fontfabric - MullerBold.woff2") format("woff2"), url("../fonts/Fontfabric - MullerBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Circe;
	font-display: swap;
	src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../fonts/Fontfabric - MullerMedium.woff2") format("woff2"), url("../fonts/Fontfabric - MullerMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../fonts/Fontfabric - MullerLight.woff2") format("woff2"), url("../fonts/Fontfabric - MullerLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../fonts/Fontfabric - MullerRegular.woff2") format("woff2"), url("../fonts/Fontfabric - MullerRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}